<p class="mb1" style="text-align: right">{{format-date notification.timestamp}}</p>
<div class="alert mt0 mb8 pa3" style="padding-bottom: 20px">

  <div style="display:flex; align-items: center;">
    <span class="bgcss-icon-{{icon-type notification.category}} text-muted pull-left" style="font-size:70px;"></span>
    <h4 class="mb1 ml1 mr8" style="font-weight: bold">{{notification.title}}</h4>
    {{notification.body}}
    <!--
    <ul>
      <li>%BOOKEDTIME%: {{notification.booked_time}}</li>
      <li>%ENGINEER%: {{notification.employee.firstName}}</li>
      <li>%BOOKEDSTATUS%: {{notification.booked_status}}</li>
      <li>%BOOKEDSTATUS%: {{notification.booked_status}}</li>
    </ul>
    -->
  </div>

  <p class="mt2 mb1">{{notification.employee.firstName}} visited today</p>
  <div class="clearfix">
    {{{buttons category='BILL' alertType='VISIT'}}}
  </div>

</div>
  
{{yield}}
