<p class="mb1">{{format-date notification.timestamp}}</p>
<div class="alert mt0 mb8 pa3" style="padding-bottom: 20px">

  <div style="display:flex; align-items: center;">
    <span class="bgcss-icon-{{icon-type notification.category}} text-muted pull-left" style="font-size:70px;"></span>
    <h4 class="mb1 ml1 mr8" style="font-weight: bold">{{notification.title}}</h4>
  </div>

  <p class="mt2 mb1">{{{notification.engineer}}} visited today</p>
  <div class="clearfix">
    {{{buttons category=notification.category alertType=notification.alert-type}}}
  </div>

</div>
  
{{yield}}
