<h2 class="mb1 text-bold" style="font-size: 30px">Hello, Elizabeth</h2>
<h5 class="mb4">Welcome to your British Gas activity feed</h5>

{{#each model as |activity|}}
  <p class="mb1">{{format-date activity.timestamp}}</p>
  <div class="alert mt0 mb4 pa3" style="padding-bottom: 20px">
    
    <div style="display:flex; align-items: center;">
      <span class="bgcss-icon-{{icon-type activity.category}} text-muted pull-left" style="font-size:70px;"></span>
      <h4 class="mb1 ml1 mr8">{{activity.title}}</h4>
    </div>

    <p class="mt2 mb1">{{{activity.description}}}</p>
    <div class="clearfix">
      {{{buttons category=activity.category alertType=activity.alert-type}}}
    </div>

  </div>
{{/each}}
